---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import About from '../components/About.astro'
import Info from '../components/Info.astro'
import Testimonials from '../components/Testimonials.astro';
import Specs from '../components/Specs.astro';
import Order from '../components/Order.astro'
---

<Layout title="Tekshop" description="Tekshop - A shop for your children tablet">
	<div class="fontclass">
		<Nav/>
		<About/>
		<Info/>
		<Testimonials/>
		<Specs/>
		<Order/>
	</div>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
	.fontclass{
		font-family: 'Inter';
	}
	html{
		scroll-behavior: smooth;
	}
  </style>