---
import aboutimg from '../images/undraw_devices_re_dxae.svg'
---
<div class="flex justify-center">
<div class="mt-[60px] md:mt-[100px] w-11/12 lg:w-11/12 items-center flex xs:flex-col md:flex-row justify-between">
    <div>
        <h1 class="text-[39px] md:w-[400px] font-semibold">Affordable Tablets At The Right Price</h1>
        <p class="mt-[5px] md:w-[400px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aliquam doloribus quam odio vel illo sapiente repellat eaque. Dolor nostrum magnam sequi fugiat est. Dolorem.</p>
        <button class="mt-[10px] bg-[#3432af] hover:bg-[#2320CC] text-white pt-[10px] pb-[10px] pl-[15px] pr-[15px] rounded-sm">Product Specs</button>
    </div>
        <img src={aboutimg} class="w-[669px] h-[300px] md:w-5/12 lg:w-6/12 md:h-auto mt-[15px] md:mt-0"/>

</div>
</div>