---
import tabletimg from '../images/Idino-Notepad-8.jpg'
---
<div class="bg-[#032341]">
<div class="flex justify-center mt-[30px] md:mt-[210px] text-white pb-[70px] md:pb-[170px]">
<div class="mt-[100px] md:mt-[70px] w-11/12 lg:w-11/12 items-center flex xs:flex-col md:flex-row justify-between">
    <div> 
        <h1 class="text-[39px] md:w-[400px] font-semibold">Idino Notepad 8</h1>
        <p class="mt-[10px] md:w-[400px] text-[20px]">Gorilla  Screen Tablet with SIM Card Slot, 6GB RAM, 256GB ROM, 4000mah Long Lasting Battery, Android 12.0 with Loads of  Educational Apps & Games + Free Gifts</p>
        <button class="mt-[10px] bg-[#3432af] hover:bg-[#2320CC] text-white pt-[10px] pb-[10px] pl-[15px] pr-[15px] rounded-sm"><a href="#order">Order Now</a></button>
    </div>
        <img src={tabletimg} class="w-[669px] h-[500px] md:w-4/12 lg:w-5/12 md:h-auto mt-[15px] md:mt-0"/>

</div>

</div>
<div class="text-white text-lg md:text-[25px] mt-5 md:mt-0 flex justify-center -translate-y-16">
    PREVIOUSLY <span class="text-red-500 mx-[10px] line-through">N86,800</span> NOW SELLING AT <span class="text-green-500 ml-[10px]"> N68,000</span>
</div>
</div>