<div class="h-[70px] flex justify-center">
    <div class="w-11/12 h-full flex justify-between">
        <div class="text-[35px] fontlogo flex items-center">
            Tekshop
        </div>
        <div class="flex justify-between items-center w-[260px]">
            <button class="bg-white hover:bg-slate-200 pt-[10px] pb-[10px] pl-[15px] pr-[15px] rounded">Contact Us</button>
            <button class="bg-[#3432af] hover:bg-[#2320CC] text-white pt-[10px] pb-[10px] pl-[15px] pr-[15px] rounded">Order Now</button>
        </div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');
    .fontlogo{
        font-family: 'Bricolage Grotesque';
    }
  </style>