---
import Card from "./Card.astro";
import dummypfp from "../images/download.png"
---
<div class="bg-[#EFEFFA] w-full pb-[60px]" id="reviews">
    <div class="flex justify-center">
        <div class="w-11/12 flex justify-between">
            <div class="text-[27px] md:text-[40px] font-medium mt-[30px]">Recommended by valued customers</div>
            <div class="w-[5px] h-[5px]"></div>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="flex flex-col items-center lg:flex-row justify-between w-[95%] mt-[20px]">
            <Card name="John Doe" picture={dummypfp} comment="Tekshop's iDino Notepad 8 is a lifesaver for my kids! They use it for homework and fun games. It's like a smart buddy that helps them learn and play." rating={4}/>
            <Card name="Richard Wilson" picture={dummypfp} comment="Got the iDino Notepad 8 for my little mathematician. It's a fantastic gadget for learning and entertainment, all in one. Tekshop, you nailed it!" rating={4}/>
            <Card name="Emilia Brooklyn" picture={dummypfp} comment="Thanks, Tekshop! The iDino Notepad 8 is my kids' new study and playmate. It's packed with features that keep them engaged and learning happily." rating={4}/>
        </div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');
    .fontlogo{
        font-family: 'Bricolage Grotesque';
    }
  </style>